SandboxVars = {
    VERSION = 5,
    Zombies = 3,
    Distribution = 1,
    DayLength = 3,
    StartYear = 1,
    StartMonth = 7,
    StartDay = 9,
    StartTime = 2,
    WaterShut = 2,
    ElecShut = 2,
    WaterShutModifier = 14,
    ElecShutModifier = 14,
    FoodLoot = 3,
    CannedFoodLoot = 3,
    LiteratureLoot = 3,
    SurvivalGearsLoot = 3,
    MedicalLoot = 3,
    WeaponLoot = 3,
    RangedWeaponLoot = 3,
    AmmoLoot = 3,
    MechanicsLoot = 3,
    OtherLoot = 3,
    Temperature = 3,
    Rain = 3,
    ErosionSpeed = 3,
    XpMultiplier = 1.0,
    ZombieLore = {
        Speed = 2,
        Strength = 2,
        Toughness = 2,
        Transmission = 1,
        Mortality = 5,
        Reanimate = 3,
        Cognition = 3,
        CrawlUnderVehicle = 5,
        Memory = 2,
        Sight = 2,
        Hearing = 2,
        Smell = 2,
    },
}

